<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="vh-100 vw-100" data-bs-theme="dark">

	<div class="container-fluid h-100">
        <div class="row flex-column align-items-center h-100 flex-nowrap overflow-auto">

<!--            Шапка-->
            <div class="col flex-grow-0 sticky-top p-0 m-0">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="/"><i class="bi bi-browser-chrome"></i> Simba?</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about/">Обо мне</a>
                        </li>
                      </ul>
                      <form class="d-flex m-0" role="search">
                        <input class="form-control me-2" type="search" placeholder="Что-то ищите?" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Найти</button>
                      </form>
                        <script>
                            document.querySelector(`a.nav-link[href="${location.pathname}"]`).classList.add('active')
                        </script>
                    </div>
                  </div>
                </nav>
            </div>

<!--            Контент-->
            <div class=" col bg-dark-subtle flex-grow-1 d-flex flex-column align-items-center">
                <div class="col-9 bg-dark flex-grow-1 border-start border-end p-4">
                    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis expedita explicabo fugiat
                        inventore, placeat repellendus unde. Cum cumque doloribus error magnam nulla, porro quam quas
                        quisquam sapiente sed tempore ut.
                    </div>
                    <div>Corporis dignissimos doloribus eaque id ipsum soluta ullam. Amet aspernatur cupiditate eum
                        itaque laboriosam laborum maiores, velit? Ad architecto, aspernatur at, cupiditate, deleniti
                        distinctio eius hic impedit pariatur porro suscipit!
                    </div>
                    <div>Aliquid at, atque ea eius facilis illo molestiae perferendis repellat reprehenderit repudiandae
                        sequi similique veniam voluptatibus? Aperiam ducimus excepturi expedita hic ipsum laboriosam
                        neque non obcaecati omnis repudiandae, suscipit veniam.
                    </div>
                    <div>A deleniti enim facere illo non nostrum quibusdam reprehenderit repudiandae sunt. Amet at
                        blanditiis dolore ea, est facere iusto, minus neque nihil omnis perspiciatis porro possimus
                        quasi quisquam, rerum soluta!
                    </div>
                    <div>Accusamus aperiam consequuntur cum deleniti dolores ea earum est facilis fuga hic incidunt nam
                        natus nemo omnis pariatur porro possimus quibusdam rerum saepe, sequi sit tempore ut? Alias,
                        possimus, repellat!
                    </div>
                    <div>Aut distinctio dolorum fugit illo inventore nostrum quos rem, vero. Architecto dignissimos esse
                        facere harum, incidunt laborum modi obcaecati officia, porro quam quia quidem quod ratione saepe
                        tempore vel veritatis.
                    </div>
                    <div>Aut iste nemo perspiciatis rem temporibus? Beatae cupiditate dolorum fugiat, fugit natus porro
                        soluta vitae! Amet cumque deserunt, distinctio ea earum eum ipsam iusto minima nam natus
                        praesentium, veniam, voluptatum!
                    </div>
                    <div>Aliquid cumque dolorum laboriosam libero molestiae nulla officia provident veniam vero? Aut,
                        exercitationem, sint? Delectus error pariatur sed! Cum dicta eum hic iusto natus nisi non quasi
                        sint tempora tempore.
                    </div>
                    <div>Ab, deleniti dignissimos in labore molestiae placeat sed? Accusantium dolor iusto labore nam
                        omnis qui quo similique veritatis? A ad amet architecto aut cumque cupiditate doloribus eligendi
                        fugiat neque voluptatum!
                    </div>
                    <div>At dolorum exercitationem impedit magni officia quia quo, soluta veniam? A, ab eius in
                        reprehenderit ullam voluptas voluptatem. Accusamus commodi ex excepturi fugit, id laudantium
                        libero reprehenderit sunt tenetur voluptatem.
                    </div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto cumque debitis
                        doloribus ea eius eligendi esse eum incidunt nisi, officia perferendis porro provident quas quia
                        recusandae soluta voluptas voluptatem.
                    </div>
                    <div>Accusamus, amet architecto aut consequuntur corporis dolorum, eum expedita facere illum
                        impedit, ipsam labore laudantium maxime nostrum odit quibusdam quos suscipit temporibus ullam
                        vel. Aliquid culpa cupiditate excepturi neque reprehenderit?
                    </div>
                    <div>A aperiam atque, culpa cupiditate deleniti dolor dolorem laborum natus omnis pariatur,
                        perspiciatis quidem ullam voluptatem. Accusamus, aperiam assumenda culpa cum cupiditate dolores
                        eum molestias odit, provident quasi rem sunt!
                    </div>
                    <div>Assumenda fuga magnam molestias perferendis provident ratione, tenetur! Numquam, suscipit
                        voluptatem! Ab ad, atque delectus exercitationem inventore ipsa minus molestias mollitia numquam
                        quae reiciendis sint soluta sunt velit, voluptates. Neque?
                    </div>
                    <div>Aperiam dicta dignissimos illo laboriosam nemo reprehenderit? Animi aspernatur illo qui
                        repellat vero! Aliquid beatae commodi cumque enim eveniet magni nobis officiis perferendis,
                        placeat porro qui recusandae, reiciendis repudiandae sapiente!
                    </div>
                    <div>Amet aperiam culpa laboriosam odit repudiandae tenetur ullam voluptatibus. Accusamus assumenda
                        deserunt error fuga placeat! Assumenda dolor eligendi, enim excepturi, facilis hic laborum natus
                        nihil numquam quo repellendus sunt tempore?
                    </div>
                    <div>Architecto doloribus eum itaque, saepe similique vero. Eligendi et id ipsam ipsum mollitia, qui
                        tenetur vitae voluptatibus? Ab dolore dolorem esse est molestiae nobis omnis, repellat.
                        Aspernatur hic modi rem!
                    </div>
                    <div>Distinctio doloribus hic incidunt labore nihil, nulla velit voluptatibus. A ab architecto at
                        consequatur deleniti, eligendi libero perspiciatis reprehenderit? Ab dolor fugiat natus nisi
                        quod, reiciendis repudiandae tempore? Pariatur, quas?
                    </div>
                    <div>Ab architecto aut blanditiis consequuntur debitis ducimus error est ex exercitationem facere
                        fugit impedit mollitia nulla obcaecati omnis placeat, quae quam quos ratione sapiente sit
                        tempore ut, velit veniam voluptas!
                    </div>
                    <div>Ad animi atque aut consequatur consequuntur delectus dolore doloribus eligendi et eveniet
                        excepturi fuga fugiat hic inventore, minus omnis, possimus quod repudiandae saepe tempore unde
                        velit, veritatis voluptas! Suscipit, vel!
                    </div>
                    <div>A ab aliquam aliquid, architecto exercitationem facilis fugit incidunt laudantium magni odio
                        optio quam, ratione repellat sint voluptatem. Autem deserunt illum laborum omnis perspiciatis
                        quam quidem repellat totam ullam voluptatem.
                    </div>
                    <div>Aut corporis cupiditate dolorem eius facilis id ipsa mollitia nobis veniam. Aliquid assumenda
                        dolore excepturi impedit maiores optio rerum! Consequatur et expedita explicabo fuga harum
                        officia repellat vitae! Ex, expedita.
                    </div>
                    <div>Atque cum cumque deleniti ducimus, eligendi harum minus nihil nobis repellat sed? A aliquid
                        asperiores consectetur ex, expedita facilis harum inventore magni maxime nobis nulla,
                        perspiciatis repellat ullam veniam voluptatem?
                    </div>
                    <div>Cum earum esse facere hic, in inventore, iste molestiae nesciunt omnis reiciendis saepe vero.
                        Amet aut blanditiis consectetur dicta ea fugit, ipsa mollitia, nesciunt nulla numquam qui quos
                        rerum, tempora!
                    </div>
                    <div>Cum expedita, labore. Accusantium culpa impedit obcaecati, perspiciatis quaerat quibusdam quis
                        sequi! Adipisci aut deserunt dolore dolores ducimus enim ex excepturi explicabo, facilis id illo
                        iusto natus omnis perspiciatis quibusdam!
                    </div>
                    <div>Accusantium animi cum dicta dolorem doloribus ex expedita, iure labore laudantium maxime nam
                        natus nesciunt non placeat quae quisquam rem, saepe unde voluptatibus voluptatum. Distinctio,
                        dolorum, fugit? Magni praesentium, sunt.
                    </div>
                    <div>Accusantium commodi cumque debitis, distinctio dolorem nemo odio quo quod saepe velit? Aperiam
                        asperiores consectetur enim ex maxime molestiae natus nemo, odio optio quae ratione rerum saepe
                        similique sit veritatis?
                    </div>
                    <div>Assumenda culpa dignissimos distinctio expedita facere fuga harum inventore itaque iure
                        necessitatibus nemo, nisi obcaecati odio officiis perferendis praesentium quis quod sequi
                        tenetur ut veniam, voluptate voluptates, voluptatum! Officiis, totam!
                    </div>
                    <div>Amet, aspernatur assumenda beatae dolor enim, error, est fuga hic in incidunt omnis quaerat
                        quibusdam quis quo similique vero voluptatem. Enim quae sed suscipit tempore voluptate? Maxime
                        non perferendis veritatis.
                    </div>
                    <div>Accusantium autem, corporis eos esse exercitationem fugiat ipsa, laborum libero nisi pariatur
                        perferendis, placeat quaerat! Eum explicabo harum illum ipsum modi neque, omnis praesentium quia
                        ratione similique sit vel? Dolor.
                    </div>
                </div>
            </div>

<!--            Футер-->
            <div class="col flex-grow-0 bg-secondary-subtle d-flex align-items-center flex-nowrap flex-column">
                <div class="col-9 p-4">
                    <p>Vasiljev Serghei, 2023 <i class="bi bi-c-circle"></i></p>
                </div>
            </div>
        </div>
    </div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>